*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 95%;
    margin: auto;
}
body{
    background-color:#FEFBEA;
    color: black;
}
h1{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
h2{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center;
}
h3{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgreen;
    text-align: center;
    margin: 20px;
}
img{
    border: solid darkgreen 5px;
    padding: 10px;
    display: block;
    margin: auto;
    border-top-right-radius: 30px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}
p,span,li{
    line-height: 2;
}
p{
    text-align: center;
}
nav li{
    margin-bottom: 20px;
    list-style: none;
    

}
nav a{
    font-size: 1.5em;
    border: solid 1px darkgreen;
    display: block;
        /* Make links behave like blocks */
    width: 100px;
        /* Set a fixed width for each box */
    height: 40px;
        /* Set a fixed height for each box */
    text-align: center;
        /* Center the text horizontally */
    line-height: 40px;
        /* Center the text vertically */
    background-color: mintcream;
    color: darkgreen;
    text-decoration: none;
    
}
nav a:focus,nav a:hover{
    text-decoration: underline;
    border: solid 3px darkgreen;
}

#skip{
    position: absolute;
    left: -500px;
}
#skip:focus{
    left: 500px;
}
.current_page{
    color: beige;
    text-decoration: underline;
    background-color: darkgreen;
}
span{
    display: block;
}


.food_images,.pet_images{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}
.food_images img,.pet_images img,figure img,video{
    border: double darkgreen 5px;
    padding: 5px;
    margin: 20px;
    border-radius: 30px;
}
.food_images img:nth-child(3){
    grid-column: span 2;
    width: 300px;
    margin: auto;
}
@media (prefers-reduced-motion: reduce) {
    img[src$=".gif"] {
        display: none;
    }
}
@media screen and (min-width: 680px) {
    * {
        background-color: yellow;
    }
}
